@model IEnumerable<AutentificationASP.Models.User>

@{
    ViewBag.Title = "Report Two";
}
<div class="alert-info">
    <h2>Report two - in development</h2>

    <p>Note: I will be able to continue working on Report two after my coming back from vacation (February, 17). If it's fine, please, let me know.</p><br />
    <p>I apologize for the inconveniences</p>

</div>