<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>


  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="BulkDataExchangeServiceSOAPBinding">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          </textMessageEncoding>
          <httpsTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true"/>
        </binding>
        <binding name="FileTransferServiceSOAPBinding">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpsTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://webservices.ebay.com/BulkDataExchangeService" binding="customBinding" bindingConfiguration="BulkDataExchangeServiceSOAPBinding" contract="BulkDataExchangeServicePort" name="BulkDataExchangeServiceSOAP"/>
      <endpoint address="https://storage.ebay.com/FileTransferService" binding="customBinding" bindingConfiguration="FileTransferServiceSOAPBinding" contract="eBayFT.FileTransferServicePort" name="FileTransferServiceSOAP"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
